header{
    background-color: rgb(127, 163, 255);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 1px;
    
}
.part1{
    margin-bottom: 20px;
}
.part2{
    margin-bottom: 20px;
}
.about{
    background-color: aliceblue;
margin: 5px;
padding: 10px;
border-radius: 10px;
}
.achieve{
    background-color: aliceblue;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
footer{
    background-color: rgb(127, 163, 255);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 1px;

}